{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                {{ include('partials/_event-group-navbar.html.twig') }}
            </div>
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% for groupMember in eventGroup.eventGroupMembers %}
                            <div
                                    class="list-group-item d-flex justify-content-start">
                                <div class="me-2">
                                    <a href="{{ path('show_profile', {id: groupMember.owner.id}) }}">
                                        <img class="rounded-circle border" height="50" src="{{ groupMember.owner.avatar }}">
                                    </a>
                                </div>
                                <div>
                                    <div>{{ groupMember.owner.fullName }}</div>
                                    {% for role in groupMember.roles %}
                                        <span class="badge text-bg-primary">{{ role.title.value }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

