{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventMacro %}
{% import "macro/group.macro.twig" as groupMacro %}
{% import "macro/poll.macro.twig" as pollMacro %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-3 min-vh-60">
            <div class="col-12 col-md-4">
                {{ include('partials/_event-group-navbar.html.twig') }}
            </div>
            <div class="col-12 col-md-6">
                {% if not eventGroup.isPrivate and eventGroup.isMember(app.user) or eventGroup.isMaintainer(app.user) %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="fw-bold text-muted small">{{ 'group-activity'|trans|upper }}</div>
                            <turbo-frame id="event-group-graph-frame"
                                         src="{{ path('event_group_activity_graph', {id: eventGroup.id }) }}">
                                <div class="d-flex justify-content-center py-5">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </turbo-frame>
                        </div>
                    </div>
                {% endif %}

                {% if app.user and eventGroup.isMember(app.user) or eventGroup.isMaintainer(app.user)  %}
                    <div class="list-group mb-3 list-group-horizontal d-flex justify-content-between">
                        <a href="{{ path('create_event', {eventGroup: eventGroup.id}) }}"
                           class="list-group-item list-group-item-action text-center">
                            <div class="mdi mdi-calendar fs-4"></div>
                            <div>{{ 'create-event'|trans }}</div>
                        </a>
                        <a href="{{ path('create_group_event_poll', {id: eventGroup.id}) }}"
                           class="list-group-item list-group-item-action text-center">
                            <div class="mdi mdi-poll fs-4"></div>
                            <div>{{ 'create-poll'|trans }}</div>
                        </a>
                        <a href="{{ path('create_group_discussion', {id: eventGroup.id}) }}"
                           class="list-group-item list-group-item-action text-center">
                            <div class="mdi mdi-forum fs-4"></div>
                            <div>{{ 'create-discustion'|trans }}</div>
                        </a>
                    </div>
                {% endif %}

                {% if app.user %}
                    {% if eventGroup.isMember(app.user) or eventGroup.isMaintainer(app.user) %}
                        <div class="row g-3">
                            {% for post in posts %}
                                <div class="col-12">
                                    {% if post|instanceof('App\\Entity\\Event\\Event') %}
                                        {{ eventMacro.card(post, false, true) }}
                                    {% elseif post|instanceof('App\\Entity\\EventGroupDiscussion') %}
                                        {{ groupMacro.discussion(post) }}
                                    {% elseif post|instanceof('App\\Entity\\EventDiscussionComment') %}
                                        {{ groupMacro.comment(post, true) }}
                                    {% elseif post|instanceof('App\\Entity\\Poll\\Poll') %}
                                        {{ pollMacro.poll(post) }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <div class="text-center text-muted fw-bold mt-5">{{ 'no-activity-found'|trans|upper }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center text-muted">{{ 'group-hidden-content'|trans|upper }}</div>
                    {% endif %}
                {% else %}
                    <div class="text-center text-muted">{{ 'create-account-to-join-group'|trans|upper }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

