{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventMacro %}
{% import "macro/group.macro.twig" as groupMacro %}

{% block body %}
    <div>
        <turbo-frame id="event-group-graph-frame" src="{{ path('event_group_activity_graph', {id: eventGroup.id }) }}">
            <div class="d-flex justify-content-center py-5">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </turbo-frame>
    </div>

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                {{ include('partials/_event-group-navbar.html.twig') }}
            </div>
            <div class="col-12 col-md-6">

                {% if eventGroup.isMember(app.user) %}
                    <div class="row g-3">
                        {% for post in posts %}
                            <div class="col-12">
                                {% if post|instanceof('App\\Entity\\Event\\Event') %}
                                    {{ eventMacro.card(post, false, true) }}
                                {% elseif post|instanceof('App\\Entity\\EventGroupDiscussion') %}
                                    {{ groupMacro.discussion(post) }}
                                {% elseif post|instanceof('App\\Entity\\EventDiscussionComment') %}
                                    {{ groupMacro.comment(post, true) }}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="col-12">
                                <div class="text-center text-muted fw-bold mt-5">{{ 'no-events-found'|trans|upper }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-center text-muted">{{ 'group-hidden-content'|trans }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

