<div class="mb-2 rounded-lg border border-gray-200 bg-white shadow-sm">
    {% if event.imageFile %}
        <img src="{{ vich_uploader_asset(event, 'imageFile') }}"
             class="rounded-t-lg w-full"
             alt="{{ event.title }}">
    {% endif %}

    <div class="p-4">
        <div class="flex justify-between">
            <div>
                <div class="font-bold">{{ event.title }}</div>
                {{ include('partials/event/_duration.html.twig') }}
                <div class="text-gray-500">{{ event.address }}</div>
            </div>
            <div>
                <span class="inline-flex items-center rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800">{{ 'external-event'|trans }}</span>
            </div>
        </div>
        <a class="stretched-link"
           href="{{ path('show_event', {id: event.id}) }}"></a>
    </div>
</div>
