<div class="list-group list-group-flush">
    <a href="{{ path('user_events') }}" class="{{ app.request.get('_route') == 'user_events' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div>
            {{ 'your-events'|trans|capitalize }}
        </div>
        <div class="bi bi-calendar fs-4"></div>
    </a>
    <a href="{{ path('user_event_invitations') }}" class="{{ app.request.get('_route') == 'user_event_invitations' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <div class="me-3">{{ 'event-invitations'|trans|capitalize }}</div>
        </div>
        <div class="bi bi-postcard-heart fs-4"></div>
    </a>
    <a href="{{ path('user_event_requests') }}" class="{{ app.request.get('_route') == 'user_event_requests' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <div class="me-3">{{ 'event-requests'|trans|capitalize }}</div>
        </div>
        <div class="bi bi-postcard fs-4"></div>
    </a>
    <a href="{{ path('user_conversations') }}" class="{{ app.request.get('_route') == 'user_conversations' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <div class="me-3">{{ 'conversations'|trans|capitalize }}</div>
        </div>
        <div class="bi bi-chat fs-4"></div>
    </a>
    <a href="{{ path('user_groups') }}" class="{{ app.request.get('_route') == 'user_groups' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div>
            {{ 'groups'|trans|capitalize }}
        </div>
        <div class="bi bi-people fs-4"></div>
    </a>
    <a href="{{ path('user_account') }}" class="{{ app.request.get('_route') == 'user_account' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div>
            {{ 'account'|trans|capitalize }}
        </div>
        <div class="bi bi-bank2 fs-4"></div>
    </a>
</div>