<div class="accordion accordion-flush" id="user-account-navbar-accordion">
    <div class="accordion-item">
        {% set isUserEventShowing = app.request.get('_route') == 'user_past_events' or app.request.get('_route') == 'user_future_events' or app.request.get('_route') == 'user_event_invitations' or app.request.get('_route') == 'user_event_requests' %}
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold {{ isUserEventShowing  ? '' : 'collapsed' }}"
                    type="button" data-bs-toggle="collapse" data-bs-target="#user-events"
                    aria-expanded="{{ isUserEventShowing ? 'true' : 'false' }}"
                    aria-controls="user-events">
                {{ 'events'|trans|title }}
            </button>
        </h2>
        <div id="user-events"
             class="accordion-collapse collapse  {{ isUserEventShowing ? 'show' }}"
             data-bs-parent="#user-account-navbar-accordion">
            <div class="list-group list-group-flush">
                <a href="{{ path('create_event') }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'create-event'|trans|title }}
                    </div>
                    <div class="fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-plus-circle fs-3"></span>
                    </div>
                </a>
                <a href="{{ path('user_future_events') }}"
                   class="{{ app.request.get('_route') == 'user_future_events' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'upcoming-events'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-calendar me-3"></span>
                        <span>{{ app.user.futureEvents.count }}</span>
                    </div>
                </a>
                <a href="{{ path('user_past_events') }}"
                   class="{{ app.request.get('_route') == 'user_past_events' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'past-events'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-clock-history me-3"></span>
                        <span>{{ app.user.pastEvents.count }}</span>
                    </div>
                </a>
                <a href="{{ path('user_event_invitations') }}"
                   class="{{ app.request.get('_route') == 'user_event_invitations' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="me-3">{{ 'event-invitations'|trans|capitalize }}</div>
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-postcard-heart me-3"></span>
                        <span>{{ app.user.receivedEventInvitations.count }}</span>
                    </div>
                </a>
                <a href="{{ path('user_event_requests') }}"
                   class="{{ app.request.get('_route') == 'user_event_requests' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="me-3">{{ 'event-requests'|trans|capitalize }}</div>
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-postcard me-3"></span>
                        <span>{{ app.user.eventRequests.count }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        {% set isGroupShowing = app.request.get('_route') == 'user_group_memberships' or app.request.get('_route') == 'user_group_managed' or app.request.get('_route') == 'user_group_invitations' or app.request.get('_route') == 'user_group_join_requests' %}
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold {{ isGroupShowing ? '' : 'collapsed' }}"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#user-groups"
                    aria-expanded="{{ isGroupShowing ? 'true' : 'false' }}"
                    aria-controls="user-groups">
                {{ 'groups'|trans|title }}
            </button>
        </h2>
        <div id="user-groups"
             class="accordion-collapse collapse {{ isGroupShowing  ? 'show' }}"
             data-bs-parent="#user-account-navbar-accordion">
            <div class="list-group list-group-flush">
                <a href="{{ path('create_event_group') }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'create-group'|trans|title }}
                    </div>
                    <div class="fs-5 d-flex justify-content-between align-items-center">
                        <span class="bi bi-plus-circle fs-3"></span>
                    </div>
                </a>
                <a href="{{ path('user_group_memberships') }}"
                   class="{{ app.request.get('_route') == 'user_group_memberships' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'group-memberships'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span>{{ app.user.getUserGroupMemberships.count|compact_notation }}</span>
                    </div>
                </a>
                <a href="{{ path('user_group_managed') }}"
                   class="{{ app.request.get('_route') == 'user_group_managed' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'groups-you-manage'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span>{{ app.user.getUserManagedGroups.count|compact_notation }}</span>
                    </div>
                </a>
                <a href="{{ path('user_group_invitations') }}"
                   class="{{ app.request.get('_route') == 'user_group_invitations' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'groups-invitations'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span>{{ app.user.getUserUnansweredEventGroupInvitations.count|compact_notation }}</span>
                    </div>
                </a>
                <a href="{{ path('user_group_join_requests') }}"
                   class="{{ app.request.get('_route') == 'user_group_join_requests' ? 'text-bg-dark-grey' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        {{ 'groups-requests'|trans|title }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary fs-5 d-flex justify-content-between align-items-center">
                        <span>{{ app.user.getUserEventGroupRequests.count|compact_notation }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="list-group list-group-flush">
            <a href="{{ path('user_conversations') }}"
               class="{{ app.request.get('_route') == 'user_conversations' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="me-3 fw-bold">{{ 'conversations'|trans|capitalize }}</div>
                </div>
                <div class="bi bi-chat fs-4"></div>
            </a>
        </div>
    </div>
    <div class="accordion-item">
        <div class="list-group list-group-flush">
            <a href="{{ path('user_account') }}"
               class="{{ app.request.get('_route') == 'user_account' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="fw-bold">
                    {{ 'account'|trans|title }}
                </div>
                <div class="bi bi-bank2 fs-4"></div>
            </a>
            <a href="{{ path('user_contacts') }}"
               class="{{ app.request.get('_route') == 'user_contacts' ? 'active' }} list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="fw-bold">
                    {{ 'contacts'|trans|title }}
                </div>
                <div class="bi bi-list-ul fs-4"></div>
            </a>
        </div>
    </div>
</div>