<div class="mb-3 rounded-lg border border-gray-200 bg-white shadow-sm">
    <div class="divide-y divide-gray-200">
        <div class="flex items-start justify-start px-4 py-3">
            <div class="me-3">
                <img alt="{{ eventGroup.name }} logo" src="{{ eventGroup.base64Image }}" height="50"
                     class="border"/>
            </div>
            <div>
                <div class="text-lg font-bold">{{ eventGroup.name }}</div>
                <div class="text-gray-500">{{ eventGroup.createdAgo }}</div>
            </div>
        </div>
        <div class="px-4 py-3">
            <div>{{ eventGroup.purpose|nl2br }}</div>
        </div>
        {% if app.user and eventGroup.isMember(app.user) or app.user and eventGroup.isMaintainer(app.user) %}
            <a href="{{ path('event_group_show', {id: eventGroup.id}) }}"
               class="{{ app.request.attributes.get('_route') == 'event_group_show' ? 'bg-gray-100 text-gray-800' : '' }} flex items-center justify-between px-4 py-3 text-gray-900 no-underline hover:bg-gray-50">
                <div>{{ 'group-feed'|trans }}</div>
                <div class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-blue-800">
                    <div class="bi bi-collection text-xl"></div>
                </div>
            </a>
            <a href="{{ path('event_group_members', {id: eventGroup.id}) }}"
               class="{{ app.request.attributes.get('_route') == 'event_group_members' ? 'bg-gray-100 text-gray-800' : '' }} flex items-center justify-between px-4 py-3 text-gray-900 no-underline hover:bg-gray-50">
                <div class="flex items-center justify-start">
                    <div class="me-3 leading-none">{{ 'memebers'|trans|title }}</div>
                </div>
                <div>
                    <div class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-base text-blue-800">
                        <span class="bi bi-people-fill me-3"></span>
                        <span>{{ eventGroup.eventGroupMembers.count|compact_notation }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('event_group_events', {id: eventGroup.id}) }}"
               class="{{ app.request.attributes.get('_route') == 'event_group_events' ? 'bg-gray-100 text-gray-800' : '' }} flex items-center justify-between px-4 py-3 text-gray-900 no-underline hover:bg-gray-50">
                <div class="flex items-center justify-start">
                    <div class="me-3 leading-none">{{ 'events'|trans|title }}</div>
                </div>
                <div>
                    <div class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-base text-blue-800">
                        <span class="bi bi-calendar-fill me-3"></span>
                        <span>{{ eventGroup.events.count|compact_notation }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('event_group_discussion', {id: eventGroup.id}) }}"
               class="{{ app.request.attributes.get('_route') == 'event_group_discussion' ? 'bg-gray-100 text-gray-800' : '' }} flex items-center justify-between px-4 py-3 text-gray-900 no-underline hover:bg-gray-50">
                <div>{{ 'discussions'|trans|capitalize }}</div>
                <div>
                    <div class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-base text-blue-800">
                        <span class="bi bi-chat-right-text-fill me-3"></span>
                        <span>{{ eventGroup.eventGroupDiscussions.count|compact_notation }}</span>
                    </div>
                </div>
            </a>
        {% endif %}
        {% if app.user and eventGroup.isMaintainer(app.user) %}
            <a href="{{ path('event_group_settings', {id: eventGroup.id}) }}"
               class="{{ app.request.attributes.get('_route') == 'event_group_settings' ? 'bg-gray-100 text-gray-800' : '' }} flex items-center justify-between px-4 py-3 text-gray-900 no-underline hover:bg-gray-50">
                <div>{{ 'group-settings'|trans }}</div>
                <div class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-blue-800">
                    <div class="bi bi-gear-fill text-lg"></div>
                </div>
            </a>
        {% endif %}
        {% if app.user and app.user != eventGroup.owner %}
            {% if eventGroup.isMember(app.user) %}
                <div class="px-4 py-3">
                    <a href="{{ path('leave_event_group', {id: eventGroup.id}) }}"
                       class="block w-full rounded-lg bg-gray-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-600">{{ 'leave-group'|trans }}</a>
                </div>
            {% else %}
                {% if eventGroup.isPrivate %}
                    {% if eventGroup.userSentJoinRequest(app.user) %}
                        <div class="px-4 py-3">
                            <a href="{{ path('cancel_event_group_request_join', {id: eventGroup.userJoinRequest(app.user).id}) }}"
                               class="block w-full rounded-lg border border-red-700 px-5 py-2.5 text-center text-sm font-medium text-red-700 hover:bg-red-700 hover:text-white">{{ 'cancel-request'|trans }}</a>
                        </div>
                    {% else %}
                        <div class="px-4 py-3">
                            <a href="{{ path('request_join_event_group', {id: eventGroup.id}) }}"
                               class="block w-full rounded-lg bg-gray-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-600">{{ 'request-to-join-group'|trans }}</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="px-4 py-3">
                        <a href="{{ path('join_event_group', {id: eventGroup.id}) }}"
                           class="block w-full rounded-lg bg-gray-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-600">{{ 'join-group'|trans }}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
