<div aria-live="polite" aria-atomic="true" class="fixed top-0 z-[9000] flex w-full justify-start px-2">
    <div id="toast-container" class="flex flex-col gap-2">
        {% for message in app.session.flashbag.get('message') %}
            {{ include('partials/_toast.html.twig', {
                message: message,
                type: 'message'
            }) }}
        {% endfor %}

        {% for message in app.session.flashbag.get('error') %}
            {{ include('partials/_toast.html.twig', {
                message: message,
                type: 'danger'
            }) }}
        {% endfor %}

        {% for message in app.session.flashbag.get('info') %}
            {{ include('partials/_toast.html.twig', {
                message: message,
                type: 'info'
            }) }}
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            {{ include('partials/_toast.html.twig', {
                message: message,
                type: 'warning'
            }) }}
        {% endfor %}

        {% for message in app.session.flashbag.get('success') %}
            {{ include('partials/_toast.html.twig', {
                message: message,
                type: 'primary'
            }) }}
        {% endfor %}
    </div>
</div>
