<div aria-live="polite" aria-atomic="true" class="fixed top-4 left-4 right-4 z-[9000] flex flex-col gap-2 sm:left-1/2 sm:right-auto sm:w-full sm:max-w-sm sm:-translate-x-1/2">
    {% for message in app.session.flashbag.get('message') %}
        {{ include('partials/_toast.html.twig', { message: message, type: 'message', toast_id: 'toast-message-' ~ loop.index }) }}
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        {{ include('partials/_toast.html.twig', { message: message, type: 'danger', toast_id: 'toast-error-' ~ loop.index }) }}
    {% endfor %}
    {% for message in app.session.flashbag.get('info') %}
        {{ include('partials/_toast.html.twig', { message: message, type: 'info', toast_id: 'toast-info-' ~ loop.index }) }}
    {% endfor %}
    {% for message in app.session.flashbag.get('warning') %}
        {{ include('partials/_toast.html.twig', { message: message, type: 'warning', toast_id: 'toast-warning-' ~ loop.index }) }}
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        {{ include('partials/_toast.html.twig', { message: message, type: 'success', toast_id: 'toast-success-' ~ loop.index }) }}
    {% endfor %}
</div>
