<div class="bg-light">
    <div class="container-fluid">
        <footer class="py-5 mt-5">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{ path('events') }}" class="nav-link px-2 text-body-secondary">{{ 'events'|trans|capitalize }}</a></li>
                <li class="nav-item"><a href="{{ path('create_feedback') }}" class="nav-link px-2 text-body-secondary">{{ 'feedback'|trans|capitalize }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ 'faqs'|trans|capitalize }}</a></li>
                <li class="nav-item"><a href="{{ path('app_terms') }}" class="nav-link px-2 text-body-secondary">{{ 'terms'|trans|capitalize }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ 'privicy'|trans|capitalize }}</a></li>
                <li class="nav-item"><a href="{{ path('app_about') }}" class="nav-link px-2 text-body-secondary">{{ 'about'|trans|capitalize }}</a></li>
            </ul>
            <p class="text-center text-body-secondary">© {{ 'now'|date('Y') }} eventpoint.app</p>
        </footer>
    </div>
</div>
