<div class="container-fluid">
    <footer class="py-5 mt-5">
        <div class="nav justify-content-center pb-3 mb-3">
            <a href="{{ path('events') }}"
               class="link-dark px-2">{{ 'events'|trans|capitalize }}</a>
            <a href="{{ path('create_feedback') }}"
               class="link-dark px-2">{{ 'feedback'|trans|capitalize }}</a>
            <a href="#" class="link-dark px-2">{{ 'faqs'|trans|capitalize }}</a>
            <a href="{{ path('app_terms') }}"
               class="link-dark px-2">{{ 'terms'|trans|capitalize }}</a>
            <a href="#"
               class="link-dark px-2">{{ 'privicy'|trans|capitalize }}</a>
            <a href="{{ path('app_about') }}"
               class="link-dark px-2">{{ 'about'|trans|capitalize }}</a>
        </div>
        <p class="text-center text-body-secondary">© {{ 'now'|date('Y') }} eventpoint.app</p>
    </footer>
</div>
