{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventMacro %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-4">
            {{ eventMacro.card(event) }}
        </div>
        <div class="col-12 col-md-6">

            <div class="list-group mb-3">
                <a href="{{ path('invite_event_organiser', {id: event.id}) }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>{{ 'add-event-organisers'|trans }}</div>
                    <div class="bi bi-plus-circle fs-4"></div>
                </a>
            </div>

            <div class="card mb-3">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        {{ 'event-organisers'|trans|title }}
                    </div>
                    {% for organiser in event.eventOrganisers %}
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="d-flex justify-content-start align-items-start">
                                    <div>
                                        <div class="d-flex mb-3">
                                            <img height="50" class="me-3" src="{{ organiser.owner.avatar }}"/>
                                            <div>
                                                <div class="fw-bold mb-1">{{ organiser.owner.fullName }}</div>
                                                {% for role in organiser.roles %}
                                                    <div class="badge rounded-pill text-bg-dark-grey mb-2">{{ role.title.value|trans }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="{{ path('remove_event_organiser', {event: organiser.event.id, id: organiser.id}) }}"
                                           class="link-light">
                                            <span class="bi bi-x-circle text-danger fs-3"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-muted text-center small"> {{ organiser.createdAt.diffForHumans }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card">
                <div class="list-group list-group-flush">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            {{ 'sent-event-organiser-inviations'|trans|title }}
                        </div>
                        {% for inviation in event.eventOrganiserInvitations %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div>
                                            <div class="d-flex mb-3">
                                                <img height="50" class="me-3" src="{{ inviation.owner.avatar }}"/>
                                                <div>
                                                    <div class="fw-bold mb-1">{{ inviation.owner.fullName }}</div>
                                                    {% for role in inviation.roles %}
                                                        <div class="badge rounded-pill text-bg-dark-grey mb-1">{{ role.title.value|trans }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="#"
                                               class="link-light">
                                                <span class="bi bi-x-circle text-danger fs-3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted text-center small"> {{ inviation.createdAt.diffForHumans }}</div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}