{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventSettingsMacro %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">

            <div class="col-12 col-md-4">

                <div class="card mb-3">
                    {% if event.base64Image %}
                        <img src="{{ event.base64Image }}"
                             class="{{ event.eventGroup == null ? 'card-img-top' : '' }} object-fit-cover"
                             height="150px"
                             alt="{{ event.title }}">
                    {% endif %}
                    <div class="list-group list-group-flush">
                        <a href="{{ path('show_event', {id: event.id}) }}"
                           class="list-group-item list-group-item-action">
                            <div class="fw-bold">{{ event.title }}</div>
                        </a>
                        {% if event.eventGroup %}
                            <a href="{{ path('event_group_show', {id: event.eventGroup.id}) }}"
                               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div class="bi bi-people-fill fs-4 lh-1"></div>
                                <div class="fw-bold">{{ event.eventGroup.name }}</div>
                            </a>
                        {% endif %}
                        <div class="list-group-item d-flex justify-content-start align-items-center">
                            <div class="me-2">{{ event.startAt|format_date(timezone=regional.timezone,pattern=day_date_pattern) }} </div>
                            <div>{{ event.startAt|format_time(timezone=regional.timezone,pattern=time_pattern) }}
                                - {{ event.endAt|format_time(timezone=regional.timezone,pattern=time_pattern) }}</div>
                        </div>
                        <div class="list-group-item d-flex d-flex justify-content-between align-items-center"
                                {{ stimulus_controller('clipboard', {
                                    successContent: "<span class='bi bi-check-lg text-success fs-4'></span>"
                                }) }}
                        >
                            <div class="w-75"
                                 value="{{ event.address }}" {{ stimulus_target('clipboard', 'source') }} >{{ event.address }}</div>
                            <a class="me-2"
                               href="#" {{ stimulus_action('clipboard', 'copy', 'click') }} {{ stimulus_target('clipboard', 'button') }} >
                                <span class="bi bi-copy fs-4"></span>
                            </a>
                            <div class="dropdown">
                                <a class="link-primary" type="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="bi bi-map fs-4"></i>
                                </a>
                                <ul class=" dropdown-menu">
                                    <li><a class="dropdown-item"
                                           href="https://www.google.com/maps?q={{ event.address }}" target="_blank">Open
                                            in Google Maps</a></li>
                                    <li><a class="dropdown-item"
                                           href="http://maps.apple.com/?q={{ event.address }}" target="_blank">Open in
                                            Apple Maps</a></li>
                                </ul>
                            </div>
                        </div>

                        <div {{ stimulus_controller('read-more', {
                            moreText: 'read-more'|trans,
                            lessText: 'read-less'|trans,
                        }) }} class="list-group-item">
                            <div class="read-more-content" {{ stimulus_target('read-more', 'content') }}>{{ event.description|nl2br }}</div>
                            <a class="link-dark mt-2 text-center d-block" {{ stimulus_action('read-more', 'toggle', 'click') }} >{{ 'read-more'|trans }}</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-12 col-md-6">

                {{ form_start(eventTicketForm) }}
                <div class="card">
                    <div class="card-body">
                        {{ form_row(eventTicketForm.title) }}
                        <div class="row justify-content-between">
                            <div class="col-6">
                                {{ form_row(eventTicketForm.price) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(eventTicketForm.currency) }}
                            </div>
                        </div>
                        {{ form_row(eventTicketForm.quantityAvailable) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary w-100">{{ 'save'|trans }}</button>
                    </div>
                </div>
                {{ form_end(eventTicketForm) }}
            </div>
        </div>
    </div>
{% endblock %}

