<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Event Point{% endblock %}</title>
    <meta name="title" content="Event Point">
    <meta name="description" content="Discover all city events seamlessly consolidated in one platform, simplifying your event exploration experience.">
    <meta name="keywords" content="events, event organising, happening, community, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1DPTYD0SLT"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-1DPTYD0SLT');
        </script>
    {% endblock %}
</head>
<body>
{{ include('partials/_flash.message.html.twig') }}
{% block navbar %}
    {{ include('partials/_navbar.html.twig') }}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    {{ include('partials/_footer.html.twig') }}
{% endblock %}
</body>
</html>
