<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Event Point{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('partials/_flash.message.html.twig') }}
{% block navbar %}
    {{ include('partials/_navbar.html.twig') }}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    {{ include('partials/_footer.html.twig') }}
{% endblock %}
</body>
</html>
