<div {{ attributes }}
>

    <div {{ stimulus_controller('dynamic-map',{
        token: mapbox_token,
        events: jsonEvents,
    }) }}>


        <div class="offcanvas offcanvas-bottom vh-50" data-bs-scroll="true" tabindex="-1" id="map-offcanvas"
             aria-labelledby="map">
            <div class="map-big" id="map" {{ stimulus_target('dynamic-map', 'map') }}></div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-4">
                    <div class="card sticky-top">
                        {{ form_start(form, {
                            attr: {
                                'novalidate': true,
                                'data-action': 'live#action:prevent',
                                'data-live-action-param': 'search',
                            }
                        }) }}
                        <div class="list-group list-group-flush">
                            <div data-loading class="text-center my-3">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="list-group-item">
                                {{ form_row(form.keyword) }}
                            </div>
                            <div class="list-group-item"
                                    {% if eventFilterDto.city is not null %}
                                        {{ stimulus_controller('map-raduis', {
                                            token: mapbox_token,
                                            longitude:  eventFilterDto.city.longitude,
                                            latitude: eventFilterDto.city.latitude,
                                            city: eventFilterDto.city.name
                                        }) }}
                                    {% endif %}
                            >
                                <div class="row justify-content-between mb-3">
                                    <div class="col-6">{{ form_row(form.country) }}</div>
                                    <div class="col-6">
                                        {{ form_row(form.city, {
                                            attr: {
                                                "data-action" : "change->map-raduis#drawCircle"
                                            }
                                        }) }}
                                    </div>
                                </div>

                                {% if eventFilterDto.city is not null %}
                                    <div class="radius-map" {{ stimulus_target('map-raduis','map') }}></div>
                                {% endif %}

                                {% if form.radius is defined %}
                                    <datalist class="mt-3" id="values">
                                        <option value="0" label="0"></option>
                                        <option value="25" label="25"></option>
                                        <option value="50" label="50"></option>
                                        <option value="75" label="75"></option>
                                        <option value="100" label="100"></option>
                                    </datalist>
                                    {{ form_row(form.radius, {
                                        attr: {
                                            "class" : "custom-range",
                                            "data-map-raduis-target" : "radius",
                                            "data-action" : "change->map-raduis#drawCircle",
                                            "list" : "values"
                                        }
                                    }) }}

                                {% endif %}
                            </div>
                            <div class="list-group-item">{{ form_row(form.category) }}</div>
                        </div>
                        {{ form_row(form.period) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="row g-0">
                        <div class="col-12">
                            {{ include('partials/event/_event-filter-date-range.html.twig') }}
                        </div>
                    </div>

                    <div class="row g-2 mb-3">

                        {% for group in groups %}
                            <div class="row g-1 justify-content-between">
                                <div class="col-4">
                                    <div class="card mb-2">
                                        <div class="card-body text-center">
                                            <div>
                                                <img src="{{ group.base64Image }}"
                                                     class="object-fit-cover rounded-circle mb-3" height="50"
                                                     width="50"/>
                                            </div>
                                            <div class="fw-bold">{{ group.name }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for event in events %}
                            <div class="col-12">
                                {% if event.url %}
                                   {{ include('partials/event/_external-event-card.html.twig') }}
                                {% else %}
                                    {{ include('partials/event/event-card.html.twig') }}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="text-center text-muted fw-bold mt-5">{{ 'no-events-found'|trans|upper }}</div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>