{% if eventRequest.event.isAttending(eventRequest.owner) %}
    <div {{ attributes }} class="list-group-item text-center">
        <div class="bi bi-check-circle text-success fs-4"></div>
        <div>{{ 'response-sent'|trans }}</div>
    </div>
{% else %}
    <div {{ attributes }}
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-start">
            <div class="me-3">
                <img src="{{ eventRequest.owner.avatar }}" class=" border" height="50"/>
            </div>
            <div>
                <div class="fw-bold">{{ eventRequest.owner.fullName }}</div>
                <div>{{ eventRequest.createdAt|time_ago }}</div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <a href="#" data-action="live#action" data-action-name="prevent|submit(isAttending=false)" class="me-5">
                <div class="bi bi-check-circle fs-1 text-primary"></div>
            </a>
            <a href="#" data-action="live#action" data-action-name="prevent|submit(isAttending=false)">
                <div class="bi bi-x-circle fs-1 text-danger"></div>
            </a>
        </div>
    </div>
{% endif %}
