<div {{ attributes }}>
    {% if not this.event.hasRated(app.user) %}
        <div class="card mb-3">
            <div class="list-group list-group-flush">
                <div class="list-group-item h5">{{ 'how-was-it'|trans }}</div>
                {% if this.venueRating is null and this.contentRating is null and this.hostRating is null and this.guestRating is null and this.expectationRating is null %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="h5">{{ 'venue-rating'|trans }}</div>
                            <div>{{ 'venue-rating-explainer'|trans }}</div>
                        </div>
                        <div>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setVenueRating"
                                    data-live-rating-param="1"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setVenueRating"
                                    data-live-rating-param="2"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setVenueRating"
                                    data-live-rating-param="3"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setVenueRating"
                                    data-live-rating-param="4"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setVenueRating"
                                    data-live-rating-param="5"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                        </div>
                    </div>
                {% elseif this.venueRating is not null and this.contentRating is null and this.hostRating is null and this.guestRating is null and this.expectationRating is null %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="h5">{{ 'content-rating'|trans }}</div>
                            <div>{{ 'content-rating-explainer'|trans }}</div>
                        </div>
                        <div>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setContentRating"
                                    data-live-rating-param="1"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setContentRating"
                                    data-live-rating-param="2"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setContentRating"
                                    data-live-rating-param="3"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setContentRating"
                                    data-live-rating-param="4"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setContentRating"
                                    data-live-rating-param="5"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                        </div>
                    </div>
                {% elseif this.venueRating is not null and this.contentRating is not null and this.hostRating is null and this.guestRating is null and this.expectationRating is null %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="h5">{{ 'host-rating'|trans }}</div>
                            <div>{{ 'host-rating-explainer'|trans }}</div>
                        </div>
                        <div>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setHostRating"
                                    data-live-rating-param="1"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setHostRating"
                                    data-live-rating-param="2"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setHostRating"
                                    data-live-rating-param="3"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setHostRating"
                                    data-live-rating-param="4"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setHostRating"
                                    data-live-rating-param="5"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                        </div>
                    </div>
                {% elseif this.venueRating is not null and this.contentRating is not null and this.hostRating is not null and this.guestRating is null and this.expectationRating is null %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="h5">{{ 'guest-rating'|trans }}</div>
                            <div>{{ 'guest-rating-explainer'|trans }}</div>
                        </div>
                        <div>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setGuestRating"
                                    data-live-rating-param="1"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setGuestRating"
                                    data-live-rating-param="2"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setGuestRating"
                                    data-live-rating-param="3"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setGuestRating"
                                    data-live-rating-param="4"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setGuestRating"
                                    data-live-rating-param="5"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                        </div>
                    </div>
                {% else %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="h5">{{ 'expectation-rating'|trans }}</div>
                            <div>{{ 'expectation-rating-explainer'|trans }}</div>
                        </div>
                        <div>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setExpectationRating"
                                    data-live-rating-param="1"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setExpectationRating"
                                    data-live-rating-param="2"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setExpectationRating"
                                    data-live-rating-param="3"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setExpectationRating"
                                    data-live-rating-param="4"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                            <a
                                    data-action="live#action:prevent"
                                    data-live-action-param="setExpectationRating"
                                    data-live-rating-param="5"
                                    class="bi bi-star link-dark  fs-1 me-1"></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-success text-center" role="alert">
            {{ 'thanks-for-the-feedback'|trans }}
        </div>
    {% endif %}
</div>