<div {{ attributes }} class="list-group list-group-flush list-group-horizontal">
    {% if eventInvitation.event.isAttending(eventInvitation.owner) %}
        <div class="list-group-item border-0 rounded-0 text-center w-100">
            <div class="bi bi-check-circle text-success fs-4"></div>
            <div>{{ 'response-sent'|trans }}</div>
        </div>
    {% else %}
        <a href="{{ path('show_event', {id: eventInvitation.event.id}) }}"
           class="list-group-item list-group-item-action border-0 rounded-0 d-flex justify-content-start align-items-center w-50">
            <div class="me-3">
                <img src="{{ eventInvitation.event.base64Image }}"
                     class=" object-fit-cover border"
                     height="50" width="50"/>
            </div>
            <div>
                <div class="fw-bold">{{ eventInvitation.event.title }}</div>
                <div>
                    <div>{{ eventInvitation.event.startAt|format_date(timezone=regional.timezone,pattern=day_date_pattern) }}</div>
                    <div>{{ eventInvitation.event.startAt|format_time(timezone=regional.timezone,pattern=time_pattern) }} - {{ eventInvitation.event.endAt|format_time(timezone=regional.timezone,pattern=time_pattern) }}</div>
                </div>
            </div>
        </a>
        <a href="#"
           data-action="live#action:prevent"
           data-live-action-param="submit"
           data-live-is-attending-param="true"
           class="list-group-item border-0 border-start rounded-0 list-group-item-action text-center w-25">
            <div class="bi bi-check-circle fs-4 text-primary"></div>
            <div>{{ 'accept-invitation'|trans }}</div>
        </a>
        <a href="#"
           data-action="live#action:prevent"
           data-live-action-param="submit"
           data-live-is-attending-param="false"
           class="list-group-item border-0 border-start rounded-0 list-group-item-action text-center w-25">
            <div class="bi bi-x-circle fs-4 text-danger"></div>
            <div>{{ 'decline-invitation'|trans }}</div>
        </a>
    {% endif %}
</div>
