<div {{ attributes }}>
    <div class="card">
        <div class="card-header">{{ 'create-poll'|trans|capitalize }}</div>
        {{ form_start(form) }}
        <div class="list-group">
            <div class="list-group-item">
                {{ form_widget(form.prompt) }}
            </div>
            {% for key, pollOptionForm in form.pollOptions %}
                <div class="list-group-item">
                    <div class="input-group">
                        {{ form_widget(pollOptionForm.content) }}
                        {{ form_widget(pollOptionForm.vars.button_delete) }}
                    </div>
                </div>
            {% endfor %}
            <div class=" list-group-item">
                {{ form_widget(form.pollOptions.vars.button_add) }}
            </div>
            <div class="card-footer text-end">
                <button
                        class="btn btn-primary w-100"
                        type="submit"
                >
                    {{ 'create-poll'|trans }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
