{% block custom_enum_group_label %}
    <div class="px-4 py-3 font-bold">{{ form.vars.label|trans|capitalize }}</div>
{% endblock %}
{% block custom_enum_group_widget %}
    <div class="m-0 divide-y divide-gray-200">
        {% for choice in choices %}
            <div class="flex items-center justify-between px-4 py-3 hover:bg-gray-50">
                <input style="accent-color:#00695c;-ms-transform: scale(2)!important;-webkit-transform: scale(2)!important;transform: scale(2)!important;"
                       type="{{ form.vars.multiple ? 'checkbox' : 'radio' }}" id="{{ id ~ '_' ~ choice.value }}"
                       name="{{ full_name ~ '[]' }}"
                       value="{{ choice.value }}" {% if choice.value in value %}checked{% endif %}
                >
                <label for="{{ id ~ '_' ~ choice.value }}" class="w-3/4 text-end font-bold">
                    {{ choice.value|default(null)|trans({}, translation_domain) }}
                </label>
            </div>
        {% else %}
            <div class="px-4 py-3 text-center text-gray-500">{{ form.vars.empty_message }}</div>
        {% endfor %}
    </div>
{% endblock %}
