{% block selection_group_widget %}
    <div class="divide-y divide-gray-200" {{ stimulus_controller('list-group-search') }}>
        {% if form.vars.searchable|default(false) %}
            <div class="sticky top-0 flex items-center justify-between bg-white px-4 py-3">
                <input type="text"
                       class="form-control" placeholder="{{ 'search'|trans }}"
                       aria-label="{{ 'search'|trans }}"
                       {{ stimulus_target('list-group-search', 'input') }} {{ stimulus_action('list-group-search', 'type', 'keyup') }}>
            </div>
        {% endif %}
        {% for child in form %}
            <div
                    class="flex items-center justify-between px-4 py-3 hover:bg-gray-50"
                    {{ stimulus_target('list-group-search', 'item') }} >
                <input style="-ms-transform: scale(2);-webkit-transform: scale(2);transform: scale(2);accent-color: #e65100;"
                       type="{{ form.vars.multiple == true  ? 'checkbox' : 'radio' }}" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
                       value="{{ child.vars.value }}"
                       {% if child.vars.checked %}checked{% endif %}
                        {{ stimulus_target('list-group-search', 'checkbox') }}
                />
                <label for="{{ child.vars.id }}" class="w-3/4 text-end font-bold">
                    {{ child.vars.label|default(null)|trans({}, translation_domain) }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}
