{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    {{ include('partials/_account-navbar.html.twig') }}
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="fs-3 fw-bold text-end">{{ 'conversations'|trans|upper }}</div>
                <hr class="mt-0"/>

                <div class="list-group mb-3">
                    {% for conversationUser in app.user.conversationUsers %}
                        <a href="{{ path('show_conversation', {id: conversationUser.conversation.id}) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center">
                                <div>
                                    <img src="{{ conversationUser.owner.avatar }}" height="50"
                                         class="border rounded-circle me-2"/>
                                </div>
                                <div>
                                    <div class="fw-bold lh-1">{{ conversationUser.owner.fullName }}</div>
                                    <div>{{ conversationUser.conversation.createdAt|format_datetime(timezone=regional.regionalSettingValueObject.timezone,pattern=date_time_pattern) }}</div>
                                </div>
                            </div>
                            <div>something else</div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}