{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(eventForm) }}
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <h1 class="fs-3 fw-bold my-3">{{ 'create-event'|trans|upper }}</h1>
            </div>
            <div class="col-12 col-md-3">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ form_label(eventForm.eventGroup) }}
                    </div>
                    {{ form_widget(eventForm.eventGroup) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <div class="" {{ stimulus_controller('location', {
                        token: mapbox_token
                    }) }}>
                        <div class="map" id="map" {{ stimulus_target('location', 'result') }} ></div>
                        {{ form_row(eventForm.latitude) }}
                        {{ form_row(eventForm.longitude) }}
                        <div class="card-body">
                            <a class="btn btn-secondary" {{ stimulus_action('location', 'getCurrentLocation', 'click') }}>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="me-2">{{ 'current-location'|trans }}</span>
                                    <span {{ stimulus_target('location', 'icon') }} class="bi bi-crosshair"></span>
                                </div>
                            </a>
                        </div>


                        <div class="list-group list-group-flush">
                            <div class="list-group-item"> {{ form_row(eventForm.address) }}</div>
                            <div class="list-group-item"> {{ form_row(eventForm.title) }}</div>
                            <div class="list-group-item"> {{ form_row(eventForm.image) }}</div>
                            <div class="list-group-item"> {{ form_row(eventForm.description) }}</div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(eventForm.startAt) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(eventForm.endAt) }}
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">{{ form_row(eventForm.isPrivate) }}</div>
                            <div class="list-group-item">
                                {{ 'event-term-and-condition'|trans({
                                    path: path('create_index')
                                })|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">{{ 'create'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ form_label(eventForm.categories) }}
                    </div>
                    {{ form_widget(eventForm.categories) }}
                </div>
            </div>
        </div>
        {{ form_end(eventForm) }}
    </div>
{% endblock %}