{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventMacro %}
{% import "macro/group.macro.twig" as eventGroupMacro %}

{% block body %}
    <div {{ stimulus_controller('dynamic-map',{
        token: mapbox_token,
        events: eventPagination.items|serialize(format = 'json'),
    }) }}>
        <div class="offcanvas offcanvas-bottom vh-50" data-bs-scroll="true" tabindex="-1" id="map-offcanvas"
             aria-labelledby="map">
            <div class="map-big" id="map" {{ stimulus_target('dynamic-map', 'map') }}></div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-4">
                    <div class="card sticky-top">
                        <div class="card-header fw-bold">{{ 'filter'|trans|capitalize }}</div>
                        {{ form_start(eventFilter) }}
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">{{ form_row(eventFilter.keyword) }}</div>
                            <div class="list-group-item">{{ form_row(eventFilter.category) }}</div>
                        </div>
                        {{ form_row(eventFilter.period) }}
                        <div class="card-footer bg-white">
                            <button type="button" href="{{ path('events') }}"
                                    class="btn mb-3 w-100 btn-secondary">{{ 'clear'|trans }}</button>
                            <button type="submit"
                                    class="btn w-100 btn-outline-primary">{{ 'search'|trans }}</button>
                        </div>
                        {{ form_end(eventFilter) }}
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="row mb-2 g-0">
                        <div class="col-12">
                            <div class="d-flex justify-content-between fs-4">
                                <div class="text-danger text-center">
                                    {% if period.value == 'recently' %}
                                        <div class="fw-bold">{{ 'recently'|trans|upper }}</div>
                                    {% elseif period.value == 'today' %}
                                        <div class="fw-bold">{{ 'today'|trans|upper }}</div>
                                    {% elseif period.value == 'tomorrow' %}
                                        <div class="fw-bold">{{ 'tomorrow'|trans|upper }}</div>
                                    {% elseif period.value == 'this-weekend' %}
                                        <div class="fw-bold">{{ 'this-weekend'|trans|upper }}</div>
                                    {% elseif period.value == 'this-week' %}
                                        <div class="fw-bold">{{ 'this-week'|trans|upper }}</div>
                                    {% elseif period.value == 'next-week' %}
                                        <div class="fw-bold">{{ 'next-week'|trans|upper }}</div>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="text-end">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if period.value == 'recently' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.subWeek.startOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.startOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.subWeek.endOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.endOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'today' %}
                                                <div class="fw-bold">
                                                    <div class="fw-bold">
                                                        {{ app_time.now.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    </div>
                                                </div>
                                            {% elseif period.value == 'tomorrow' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.addDay.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addDay.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'this-weekend' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.next('SATURDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('SATURDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.next('SUNDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('SUNDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'this-week' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.previous('MONDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.previous('MONDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.next('FRIDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('FRIDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'next-week' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.addWeek.startOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addWeek.startOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.addWeek.endOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addWeek.endOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if eventGroupPagination.count > 0 %}
                        <div class="card slider-container mb-3" {{ stimulus_controller('slider') }}>
                            <div class="card-header bg-white fw-bold">{{ 'related-groups'|trans|capitalize }}</div>
                            <div class="slider"
                                    {{ stimulus_target('slider', 'slider') }}
                                    {{ stimulus_action('slider', 'start', 'swipe') }}
                                    {{ stimulus_action('slider', 'move', 'swipe') }}
                            >
                                {% for eventGroup in eventGroupPagination %}
                                    <div class="slider-slide p-2" {{ stimulus_target('slider', 'slide') }}>
                                        {{ eventGroupMacro.minCard(eventGroup) }}
                                    </div>
                                {% endfor %}
                                <div class="col-4 p-2">
                                    <div class="card card-hover h-100 d-flex justify-content-center align-items-center">
                                        <div class="card-body text-center">
                                            <div class="bi bi-compass fs-1 mb-2"></div>
                                            <div>{{ 'explore-all-groups'|trans }}</div>
                                            <a class="stretched-link" href="{{ path('event_groups') }}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white p-0">
                                <div class="btn-group w-100">
                                    <a {{ stimulus_action('slider', 'previous', 'click') }}
                                            class="btn w-100 btn-light rounded-0 previous bi bi-chevron-left fs-4"></a>
                                    <a {{ stimulus_action('slider', 'next', 'click') }}
                                            class="btn w-100 btn-light rounded-0 next bi bi-chevron-right fs-4"></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row mb-3">
                        {% for event in eventPagination %}
                            <div class="col-12">
                                {{ eventMacro.card(event, true, true, true) }}
                            </div>
                        {% else %}
                            <div class="text-center text-muted fw-bold mt-5">{{ 'no-events-found'|trans|upper }}</div>
                        {% endfor %}
                    </div>
                    <div class="my-5">
                        {{ knp_pagination_render(eventPagination, viewParams={align: 'center', size: 'large'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}