{% extends 'base.html.twig' %}
{% import "macro/event.macro.twig" as eventMacro %}

{% block body %}
    <div {{ stimulus_controller('dynamic-map',{
        token: mapbox_token,
        events: eventPagination.items|serialize(format = 'json'),
    }) }}>

        <div class="offcanvas offcanvas-bottom vh-50" data-bs-scroll="true" tabindex="-1" id="map-offcanvas"
             aria-labelledby="map">
            <div class="map-big" id="map" {{ stimulus_target('dynamic-map', 'map') }}></div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-4">
                    <div class="card sticky-top">
                        <div class="card-header fw-bold">{{ 'filter'|trans|capitalize }}</div>
                        {{ form_start(eventFilter) }}
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">{{ form_row(eventFilter.title) }}</div>
                            <div class="list-group-item">{{ form_row(eventFilter.category) }}</div>
                        </div>
                        {{ form_row(eventFilter.period) }}
                        <div class="card-footer bg-white">
                            <button type="button" href="{{ path('events') }}"
                                    class="btn mb-3 w-100 btn-secondary">{{ 'clear'|trans }}</button>
                            <button type="submit"
                                    class="btn w-100 btn-outline-primary">{{ 'search'|trans }}</button>
                        </div>
                        {{ form_end(eventFilter) }}
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row g-2">
                        <div class="col-12">
                            <div class="d-flex justify-content-between mb-2 fs-4">
                                <div class="text-danger text-center">
                                    {% if period.value == 'recently' %}
                                        <div class="fw-bold">{{ 'recently'|trans|upper }}</div>
                                    {% elseif period.value == 'today' %}
                                        <div class="fw-bold">{{ 'today'|trans|upper }}</div>
                                    {% elseif period.value == 'tomorrow' %}
                                        <div class="fw-bold">{{ 'tomorrow'|trans|upper }}</div>
                                    {% elseif period.value == 'this-weekend' %}
                                        <div class="fw-bold">{{ 'this-weekend'|trans|upper }}</div>
                                    {% elseif period.value == 'this-week' %}
                                        <div class="fw-bold">{{ 'this-week'|trans|upper }}</div>
                                    {% elseif period.value == 'next-week' %}
                                        <div class="fw-bold">{{ 'next-week'|trans|upper }}</div>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="text-end">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if period.value == 'recently' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.subWeek.startOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.startOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.subWeek.endOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.endOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'today' %}
                                                <div class="fw-bold">
                                                    <div class="fw-bold">
                                                        {{ app_time.now.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                        {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    </div>
                                                </div>
                                            {% elseif period.value == 'tomorrow' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.addDay.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addDay.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'this-weekend' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.next('SATURDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('SATURDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.next('SUNDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('SUNDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'this-week' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.previous('MONDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.previous('MONDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.next('FRIDAY').dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.next('FRIDAY').day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% elseif period.value == 'next-week' %}
                                                <div class="fw-bold">
                                                    {{ app_time.now.addWeek.startOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addWeek.startOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    -
                                                    {{ app_time.now.addWeek.endOfWeek.dayName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.addWeek.endOfWeek.day|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.monthName|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                    {{ app_time.now.subWeek.year|timezone_name(regional.regionalSettingValueObject.timezone) }}
                                                </div>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for event in eventPagination %}
                            <div class="col-12 col-md-6">
                                {{ eventMacro.card(event, true, true, true) }}
                            </div>
                        {% else %}
                            <div class="text-center text-muted fw-bold mt-5">{{ 'no-events-found'|trans|upper }}</div>
                        {% endfor %}

                        <div class="my-5">
                            {{ knp_pagination_render(eventPagination, viewParams={align: 'center', size: 'large'}) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}