{% extends 'base.html.twig' %}

{% block body %}

    {% if not event.isComplete %}
        <div class="mb-3">
            <div class="bg-white p-0" {{ stimulus_controller('static-map', {
                token: mapbox_token,
                longitude: event.longitude,
                latitude: event.latitude,
                interactive: true,
            }) }}>
                <div class="static-map w-100"
                     style="height: 200px" {{ stimulus_target('static-map', 'map') }}></div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">


                {% if app.user and app.user|has_event_permission(event, 'role.event.admin') or app.user and app.user|has_event_permission(event, 'role.event.promoter') %}
                    <div class="list-group mb-3">
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                           href="#invitations"
                           data-bs-toggle="modal"
                           data-bs-target="#invitations">
                            <div>{{ 'send-inviations'|trans }}</div>
                            <div class="bi bi-plus-circle fs-4"></div>
                        </a>
                    </div>
                {% endif %}


                <div class="card mb-3">
                    {% if event.isInProgress(regional.timezone) or event.eventCancellation or event.isComplete %}
                        <div class="list-group list-group-flush">
                            {% if event.isInProgress(regional.timezone) %}
                                <div class="list-group-item text-success d-flex justify-content-between align-items-center">
                                    <div>{{ 'event-in-progress'|trans|upper }}</div>
                                    <div class="badge rounded-pill text-bg-primary" {{ stimulus_controller('countdown', {
                                        milliseconds: event.timeRemainingInMilliseconds
                                    }) }} {{ stimulus_target('countdown', 'result') }}></div>
                                </div>
                            {% endif %}
                            {% if event.isComplete %}
                                <div class="list-group-item text-success d-flex justify-content-between align-items-center">
                                    <div>{{ 'event-complete'|trans|upper }}</div>
                                    <div class="bi bi-check2-circle fs-4"></div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if event.base64Image %}
                        <img src="{{ event.base64Image }}"
                             class="{{ event.eventGroup == null ? 'card-img-top' : '' }} object-fit-cover"
                             height="150px"
                             alt="{{ event.title }}">
                    {% endif %}

                    <div class="list-group list-group-flush">
                        <div class="list-group-item p-0">
                            <div class="btn-group border-0 w-100">
                                <a href="#going" data-bs-toggle="modal" data-bs-target="#going"
                                   class="btn border-0 btn-outline-secondary text-black fw-bold">
                                    <div>{{ event.allParticipantsCount|compact_notation }}</div>
                                    <div>{{ 'going'|trans|upper }}</div>
                                </a>
                                <a href="#invited"
                                   data-bs-toggle="modal" data-bs-target="#invited"
                                   class="btn border-0 btn-outline-secondary text-black fw-bold">
                                    <div>{{ event.allInvitationsCount|compact_notation }}</div>
                                    <div>{{ 'invited'|trans|upper }}</div>
                                </a>
                                <a href="#requests" data-bs-toggle="modal" data-bs-target="#requests"
                                   class="btn border-0 btn-outline-secondary text-black fw-bold">
                                    <div>{{ event.eventRequests.count|compact_notation }}</div>
                                    <div>{{ 'requested'|trans|upper }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="fw-bold">{{ event.title }}</div>
                        </div>
                        {% if event.eventGroup %}
                            <a href="{{ path('event_group_show', {id: event.eventGroup.id}) }}"
                               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div class="bi bi-people-fill fs-4 lh-1"></div>
                                <div class="fw-bold">{{ event.eventGroup.name }}</div>
                            </a>
                        {% endif %}
                        <div class="list-group-item">
                            {{ include('partials/event/_duration.html.twig') }}
                        </div>
                        <div class="list-group-item d-flex d-flex justify-content-between align-items-center"
                                {{ stimulus_controller('clipboard', {
                                    successContent: "<span class='bi bi-check-lg text-success fs-4'></span>"
                                }) }}
                        >
                            <div class="w-75"
                                 value="{{ event.address }}" {{ stimulus_target('clipboard', 'source') }} >{{ event.address }}</div>
                            <a class="me-2"
                               href="#" {{ stimulus_action('clipboard', 'copy', 'click') }} {{ stimulus_target('clipboard', 'button') }} >
                                <span class="bi bi-copy fs-4"></span>
                            </a>
                            <div class="dropdown">
                                <a class="link-primary" type="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="bi bi-map fs-4"></i>
                                </a>
                                <ul class=" dropdown-menu">
                                    <li><a class="dropdown-item"
                                           href="https://www.google.com/maps?q={{ event.address }}" target="_blank">Open
                                            in Google Maps</a></li>
                                    <li><a class="dropdown-item"
                                           href="http://maps.apple.com/?q={{ event.address }}" target="_blank">Open in
                                            Apple Maps</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="list-group list-group-flush">
                                {% for ticket in event.ticketOptions %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>{{ ticket.title|title }}</div>
                                        {% if ticket.currency %}
                                            <div>{{ ticket.price|format_currency(ticket.currency) }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>{{ 'free-admission'|trans|upper }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div {{ stimulus_controller('read-more', {
                            moreText: 'read-more'|trans,
                            lessText: 'read-less'|trans,
                        }) }} class="list-group-item">
                            <div class="read-more-content" {{ stimulus_target('read-more', 'content') }}>{{ event.description|nl2br }}</div>
                            <a class="link-dark mt-2 text-center d-block" {{ stimulus_action('read-more', 'toggle', 'click') }} >{{ 'read-more'|trans }}</a>
                        </div>
                        {% if event.eventCancellation == null %}
                            {% if app.user and event.owner == app.user or app.user and app.user|has_event_permission(event, 'role.event.admin') %}
                                <a href="{{ path('event_settings', {id: event.id}) }}"
                                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div>{{ 'event-settings'|trans }}</div>
                                    <div class="bi bi-gear fs-4"></div>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>


            </div>
            <div class="col-12 col-md-6">

                {% if not app.user and invitation != null %}
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <div class="fs-3">🎉</div>
                            <div class="mb-3">
                                {{ 'token-invitation-text'|trans({name: invitation.owner.fullName}) }}
                            </div>
                            <a class="btn btn-outline-primary w-100"
                               href="{{ path('app_register') }}">{{ 'sign-up'|trans }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if app.user and event.unansweredInvitation(app.user) %}
                    {% set invitation = event.unansweredInvitation(app.user) %}
                    <div class="col-12">
                        {{ component('event_invitation_response_banner_form', {
                            eventInvitation: invitation
                        }) }}
                    </div>
                {% endif %}


                {% if app.user and not event.hasRated(app.user) and event.isComplete %}
                    <div>
                        {{ component('event_rating_form_component', {event: event}) }}
                    </div>
                {% endif %}


                {{ include('partials/event/_image-upload.html.twig') }}


                <div class="vstack d-flex justify-content-between gap-1">
                    {% for moment in event.eventMoments %}
                        {% if moment.type.name == 'EVENT_CANCELED' %}
                            <div class="alert mb-1 d-flex flex-column justify-content-center border-0 text-bg-dark-grey">
                                <div class="bi bi-exclamation-triangle-fill fs-3 text-danger text-center"></div>
                                <div class="text-center lead fw-bold">{{ moment.type.value|trans|title }}</div>
                                <div class="text-center">{{ event.eventCancellation.reason.value|trans|title }}</div>

                                <div class="card border-0 rounded text-bg-white mt-3">
                                    <div class="card-body d-flex justify-content-start align-items-start">
                                        <img src="{{ event.eventCancellation.owner.avatar }}" height="50"
                                             width="50"
                                             class="rounded-circle me-3"/>
                                        <div class="text-start">
                                            <div class="fw-bold">{{ event.eventCancellation.owner.fullName }}</div>
                                            <div class="">{{ event.eventCancellation.notice|nl2br }}</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert mb-1 d-flex flex-column justify-content-center border-0 {{ loop.first ? "text-bg-primary" : 'text-bg-dark-grey' }}">
                                <div class="bi bi-bell-fill text-center"></div>
                                <div class="text-center">{{ moment.type.value|trans({new: moment.newValue })|format|raw }}</div>
                            </div>
                        {% endif %}
                        <div class="small text-center">{{ moment.createdAt.diffForHumans }}</div>

                        {% if not loop.last %}
                            <div class="vr mx-auto vh-5"></div>
                        {% endif %}

                    {% endfor %}
                    <div class="vr border-3 mx-auto vh-5"></div>
                    <div class="alert mb-1 d-flex flex-column justify-content-center align-items-center border-0 text-bg-dark-grey">
                        <img src="{{ event.owner.avatar }}" height="50" width="50" class="rounded-circle mb-1"/>
                        <div>{{ 'event-created-at'|trans({name: event.owner.firstName}) }}</div>
                    </div>
                    <div class="small text-center">{{ event.createdAt.diffForHumans }}</div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="invitations" tabindex="-1" aria-labelledby="invitations" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'send-invitations'|trans|capitalize }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ component('email_autocompleter_component', {
                    event: event
                }) }}
            </div>
        </div>
    </div>


    <div class="modal fade" id="going" tabindex="-1" aria-labelledby="going" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'going'|trans|capitalize }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="list-group rounded-bottom list-group-flush">
                    {% for organiser in event.eventOrganisers %}
                        <a href="{{ path('show_profile', {id: organiser.owner.id}) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <div class="d-flex justify-content-start align-items-center">
                                <div>
                                    <img height="50" class=" border me-2"
                                         src="{{ organiser.owner.avatar }}"/>
                                </div>
                                <div>
                                    <div class="fw-bold">{{ organiser.owner.fullName|title }}</div>
                                    <div class="text-muted small">{{ organiser.createdAt|time_ago }}</div>
                                </div>
                            </div>
                            <div>
                                {% if app.user == event.owner %}
                                    <span class="badge rounded-pill text-bg-dark-grey">{{ 'creator'|trans }}</span>
                                {% endif %}
                                {% for role in organiser.roles %}
                                    <span class="badge rounded-pill text-bg-dark-grey">{{ role.title.value|trans }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                    {% for participant in event.eventParticipants %}
                        <a href="{{ path('show_profile', {id: participant.owner.id}) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-start">
                            <div class="me-2">
                                <img height="50" class=""
                                     src="{{ participant.owner.avatar }}"/>
                            </div>
                            <div>
                                <div>{{ participant.owner.fullName|title }}</div>
                                <div>{{ participant.createdAt|time_ago }}</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="invited" tabindex="-1" aria-labelledby="invited" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'invited'|trans|capitalize }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="list-group list-group-flush">
                    {% for invitation in invitations %}
                        {% if invitation|instanceof('App\\Entity\\Event\\EventInvitation') %}
                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-start align-items-start">
                                    <div>
                                        <img src="{{ invitation.target.avatar }}"
                                             class=" border me-2"
                                             height="50"/>
                                    </div>
                                    <div>
                                        <div>{{ invitation.target.fullName|title }}</div>
                                        <div>{{ invitation.createdAt|time_ago }}</div>
                                    </div>
                                </div>
                                <div>
                                    {% if app.user and app.user and app.user|has_event_permission(event, 'role.event.admin') %}
                                        <a href="{{ path('remove_invitation', {id: invitation.id, token: csrf_token('remove-invitation')}) }}"
                                           class="link-danger">
                                            <div class="bi bi-x-circle fs-1 text-danger"></div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% elseif invitation|instanceof('App\\Entity\\Event\\EventEmailInvitation') %}
                            <div {{ stimulus_target('list-group-search', 'item') }}
                                    data-searchable-content="{{ invitation.email.address }}"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div>
                                        <div class="mdi mdi-at fs-1 me-3"></div>
                                    </div>
                                    <div>
                                        <div>{{ invitation.email.address }}</div>
                                        <div>{{ invitation.createdAt|time_ago }}</div>
                                    </div>
                                </div>
                                <div>
                                    {% if app.user and app.user|has_event_permission(event, 'role.event.admin') %}
                                        <a href="{{ path('remove_email_invitation', {id: invitation.id, token: csrf_token('remove-invitation')}) }}"
                                           class="link-danger">
                                            <div class="bi bi-x-circle fs-1 text-danger"></div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if app.user and app.user|has_event_permission(event, 'role.event.admin') or app.user and app.user|has_event_permission(event, 'role.event.promoter') %}
                        <div class="list-group-item text-end">
                            <a class="btn w-100 btn-outline-primary" href="#invitations"
                               data-bs-toggle="modal"
                               data-bs-target="#invitations">
                                {{ 'send-inviations'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="requests" tabindex="-1" aria-labelledby="requests" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'requested'|trans|capitalize }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="list-group list-group-flush">
                    {% if app.user and not event.isAttending(app.user) and not event.isOrganiser(app.user) %}
                        {% if not event.requestedToAttend(app.user) %}
                            <div class="list-group-item text-center">{{ 'request-explainer-text'|trans }}</div>
                            <div class="list-group-item">
                                <a href="{{ path('event_rsvp_request', {id : event.id}) }}"
                                   class="btn w-100 btn-primary">{{ 'request-to-attend'|trans }}</a>
                            </div>
                        {% else %}
                            <div class="list-group-item text-center">{{ 'event-request-sent-explainer'|trans|capitalize }}</div>
                            <div class="list-group-item text-center">
                                <a href="{{ path('cancel_event_rsvp_request', {id : event.attendRequest(app.user).id}) }}"
                                   class="btn w-100 btn-outline-danger">{{ 'cancel-request'|trans }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if app.user and event.isOrganiser(app.user) %}
                        {% for request in event.eventRequests %}
                            {{ component('event_request_response_form', {
                                eventRequest: request
                            }) }}
                        {% else %}
                            <div class="list-group-item list-group-item-action text-center text-muted">{{ 'no-requests'|trans }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}