{% macro card(event, hasMap = false, hasLink = false, hasHeader = false) %}
    <div class="card mb-2">
        {% if event.isInProgress(regional.timezone) or event.eventCancellation or event.isComplete %}
            <div class="list-group list-group-flush">
                {% if event.isInProgress(regional.timezone) %}
                    <div class="list-group-item text-success d-flex justify-content-between align-items-center">
                        <div>{{ 'event-in-progress'|trans|upper }}</div>
                        <div class="badge rounded-pill text-bg-primary" {{ stimulus_controller('countdown', {
                            milliseconds: event.timeRemainingInMilliseconds
                        }) }} {{ stimulus_target('countdown', 'result') }}></div>
                    </div>
                {% endif %}
                {% if event.eventCancellation %}
                    <div class="list-group-item text-danger d-flex justify-content-between align-items-center">
                        <div>{{ 'event-canceled'|trans|upper }}</div>
                        <div class="bi bi-exclamation-diamond-fill fs-4"></div>
                    </div>
                {% endif %}
                {% if event.isComplete %}
                    <div class="list-group-item text-success d-flex justify-content-between align-items-center">
                        <div>{{ 'event-complete'|trans|upper }}</div>
                        <div class="bi bi-check2-circle fs-4"></div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if event.base64Image %}
            <img src="{{ event.base64Image }}"
                 class="{{ event.isInProgress(regional.timezone) or event.eventCancellation or event.isComplete ? '' : 'card-img-top' }}  object-fit-cover
{{ event.isComplete or event.eventCancellation ? 'b-and-w' }}"
                 height="150px"
                 alt="{{ event.title }}">
        {% endif %}
        <div class="list-group list-group-flush">
            <a href="{{ path('show_event', {id: event.id}) }}"
               class="list-group-item list-group-item-action d-flex justify-content-between">
                <div class="fw-bold">{{ event.title }}</div>
            </a>
            {% if event.eventGroup and hasHeader %}
                <a href="{{ path('event_group_show', {id: event.eventGroup.id}) }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="bi bi-people-fill fs-4 lh-1 text-muted"></div>
                    <div>{{ event.eventGroup.name }}</div>
                </a>
            {% endif %}
            {% if not event.isComplete and not event.eventCancellation %}
                <div class="list-group-item">
                    <div>{{ event.startAt|format_date(timezone=regional.timezone,pattern=day_date_pattern) }}</div>
                    <div>{{ event.startAt|format_time(timezone=regional.timezone,pattern=time_pattern) }}
                        - {{ event.endAt|format_time(timezone=regional.timezone,pattern=time_pattern) }}</div>
                </div>
                <div class="list-group-item d-flex d-flex justify-content-between align-items-center"
                        {{ stimulus_controller('clipboard', {
                            successContent: "<span class='bi bi-check-lg text-success fs-4'></span>"
                        }) }}
                >
                    <div value="{{ event.address }}" {{ stimulus_target('clipboard', 'source') }} >{{ event.address }}</div>
                    <a href="#" {{ stimulus_action('clipboard', 'copy', 'click') }} {{ stimulus_target('clipboard', 'button') }} >
                        <span class="bi bi-copy fs-4"></span>
                    </a>
                </div>
                {% if event.categories.count > 0 %}
                    <div class="list-group-item d-flex justify-content-start flex-nowrap overflow-y-hidden overflow-x-scroll">
                        {% for category in event.categories %}
                            <span class="badge rounded-pill text-bg-light fw-light fs-6 me-1 mb-1">{{ category.title|trans }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <a href="{{ path('show_profile', {id: event.owner.id}) }}"
               class="list-group-item list-group-item-action d-flex justify-content-start align-items-start">
                <div>
                    <img src="{{ event.owner.avatar }}" class=" border me-2"
                         height="35"/>
                </div>
                <div>
                    <div class="lh-1">{{ event.owner.fullName|title }}</div>
                    <div class="text-muted small">{{ event.createdAt|time_ago }}</div>
                </div>
            </a>
        </div>
        {% if not event.isComplete and not event.eventCancellation %}
            <div class="card-footer d-flex justify-content-between">
                {% if hasMap %}
                    <a class="btn btn-secondary" data-bs-toggle="offcanvas"
                       data-bs-target="#map-offcanvas"
                       aria-controls="#map-offcanvas" {{ stimulus_action('dynamic-map', 'flyToAssetOnMap', 'click', {
                        id:  event.id,
                        longitude: event.longitude,
                        latitude: event.latitude
                    }) }}>
                        <span class="bi bi-crosshair"></span>
                    </a>
                {% endif %}
                {% if hasLink %}
                    <a class="btn btn-outline-primary"
                       href="{{ path('show_event', {id: event.id}) }}">{{ 'view-event'|trans }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}