{% macro minCard(eventGroup) %}
    <div class="card card-hover h-100">
        <div class="card-body text-center">
            {% if eventGroup.base64Image %}
                <img class="border  object-fit-cover mb-2" height="50" width="50"
                     src="{{ eventGroup.base64Image }}"/>
            {% endif %}
            <div class="fw-bold">{{ eventGroup.name }}</div>
        </div>
        <div class="card-body border-top text-center p-2">
            {{ eventGroup.purpose }}
        </div>
        <a class="stretched-link"
           href="{{ path('event_group_show', {id: eventGroup.id}) }}"></a>
    </div>
{% endmacro %}

{% macro comment(comment, hasHeader = false) %}
    <div class="card mb-2">
        <div class="list-group list-group-flush">
            {% if hasHeader %}
                <a href="{{ path('show_group_discussion', {id: comment.discussion.id, comment: comment.id}) }}"
                   class="list-group-item fw-bold">{{ comment.discussion.agenda }}</a>
            {% endif %}
            <div class="list-group-item">{{ comment.content|nl2br }}</div>
            <a href="{{ path('show_profile', {id: comment.owner.id}) }}"
               class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-start align-items-center">
                    <div>
                        <img src="{{ comment.owner.avatar }}" class=" border me-2"
                             height="50"/>
                    </div>
                    <div>
                        <div class="fw-bold">{{ comment.owner.fullName }}</div>
                        <div>{{ comment.createdAt|format_datetime(timezone=regional.regionalSettingValueObject.timezone,pattern=date_time_pattern) }}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endmacro %}


{% macro discussion(discussion) %}
    <div class="card mb-2">
        <div class="list-group list-group-flush">
            <a href="{{ path('show_group_discussion', {id: discussion.id }) }}"
               class="list-group-item active fw-bold">{{ discussion.agenda }}</a>
            <a href="{{ path('show_profile', {id: discussion.owner.id}) }}"
               class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-start align-items-center">
                    <div>
                        <img src="{{ discussion.owner.avatar }}" class=" border me-2"
                             height="50"/>
                    </div>
                    <div>
                        <div class="fw-bold">{{ discussion.owner.fullName }}</div>
                        <div>{{ discussion.createdAt|format_datetime(timezone=regional.regionalSettingValueObject.timezone,pattern=date_time_pattern) }}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endmacro %}